@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffce00;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #484a4e;
}

#photo-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}

nav {
  display: flex;
}

.nav-item {
  display: inline-block;
  color: white;
  font-size: 16px;
  padding: 1em;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-item.logout {
  background-color: #ff0000;
}

.nav-item:hover {
  background-color: #636d70;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: calc(100% - 4rem);
}

.search input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 400px;
  max-width: 100%;
  margin-bottom: 1rem;
}

.search button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #155263;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search button:hover {
  background-color: #636d70;
}

#weatherInfo {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #484a4e;
}

@media screen and (max-width: 600px) {
  .nav-item {
    padding: 0.5em;
    font-size: 14px;
  }

  .search input[type="text"] {
    width: 100%;
  }
}
